.app {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    padding: 30px 20px;
}

.inputs-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.app-btns-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 12px;
}

@media screen and (max-width: 1150px) {
    .app-container {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

}