.app {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 30px 20px;
    background-color: whitesmoke;
}

.inputs-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}

.app-btns-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 12px;
}